{% extends 'base.html' %}
{% block content %}
<h1>Welcome to the Quiz App!</h1>
{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>

{% if assignments %}
<select id="assignSelector" name="assignSelect" onchange="redirectToSelectedOption()">
    <option value="">-- Select a Quiz --</option>
    {% for assignment in assignments %}
    <option value="{% url 'start' assignment.id %}">{{ assignment.description }} ({{ assignment.id }})</option>
    {% endfor %}
</select>
{% else %}
<p>No available assignment, Sorry!</p>
{% endif %}
{% else %}
<p>You are not logged in</p>
{% endif %}


<script>
    function redirectToSelectedOption() {
        var selectElement = document.getElementById("assignSelector");
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var selectedValue = selectedOption.value;

        if (selectedValue) {
            window.location.href = selectedValue;
        }
    }
</script>
{% endblock %}