{% extends 'base.html' %}
{% block content %}
<h1>Quiz Questions</h1>

<form method="post" action="{% url 'quiz' attempt %}">
    {% csrf_token %}

    {% for question in questions %}
    <h2>{{ question.text|safe }}</h2>
    {% if question.type == 'single' %}
    {% for option in question.options %}
    <input type="radio" id="{{ question.id }}_{{ forloop.counter }}" name="{{ question.id }}"
        value="{{ forloop.counter }}">
    <label for="{{ question.id }}_{{ forloop.counter }}">{{ option|safe }}</label><br>
    {% endfor %}
    {% elif question.type == 'multiple' %}
    {% for option in question.options %}
    <input type="checkbox" id="{{ question.id }}_{{ forloop.counter }}" name="{{ question.id }}"
        value="{{ forloop.counter }}">
    <label for="{{ question.id }}_{{ forloop.counter }}}">{{ option|safe }}</label><br>
    {% endfor %}
    {% endif %}
    {% endfor %}

    <input type="submit" value="Submit">
</form>
{% endblock %}