{% extends 'base.html' %}
{% block content %}
<h1>Quiz Questions</h1>

<form method="post" action="{% url 'quiz' attempt %}">
    {% csrf_token %}

    {% for question in questions %}
    <article>
        <header>
            <h2>Domanda {{ forloop.counter }}</h2>
        </header>
        <fieldset>
            <legend>{{ question.text|safe }}</legend>
            {% if question.type == 'single' %}
            {% for option in question.options %}
            <label for="{{ question.id }}_{{ forloop.counter }}">
                <input type="radio" id="{{ question.id }}_{{ forloop.counter }}" name="{{ question.id }}" value="{{ forloop.counter }}">
                {{ option|safe }}
            </label>
            {% endfor %}
            {% elif question.type == 'multiple' %}
            {% for option in question.options %}
            <label for="{{ question.id }}_{{ forloop.counter }}}">
                <input type="checkbox" id="{{ question.id }}_{{ forloop.counter }}" name="{{ question.id }}" value="{{ forloop.counter }}">
                {{ option|safe }}
            </label>
        {% endfor %}
        {% endif %}
        </fieldset>
    </article>
    {% endfor %}
    
    <a role="button" href="{% url 'save' attempt %}">Save</a>
    <input type="submit" value="Submit" style="width: auto;">
</form>
{% endblock %}