{% for q in questions %}
<article>
    <header>
            <input name={{ q.id }} type="checkbox">
            {{ q.id }} ({{ q.get_question_type_display }})
    </header>
        <details>
            <summary>
                
                    <b>Text:</b>
                    {{ q.text_and_keys.text | safe }}
                
            </summary>
            <b>Options: </b>
            <ul>
                {% for o in q.text_and_keys.options %}
                <li>{{ o }}</li>
                {% endfor %}
            </ul>
            <p>
                <b>Key: </b> <code>{{ q.text_and_keys.correct }}</code>
            </p>
        </details>
        <footer>
            {% for t in q.tags.all %}
                <code>#{{ t }}</code>
            {% endfor %}
        </footer>
</article>
{% endfor %}
Total {{ questions | length }} question(s)