{% extends "base.html" %}
{% load static %}
{% block extra_scripts %}
<script src="{% static '/js/question_filter.js' %}"></script>
<script src="{% static '/js/question_show.js' %}"></script>
{% endblock %}
{% block content %}
<h1 class="text-3xl">Questions</h1>
<form method="post">
    {% csrf_token %}

    {% block question_list %}
    {% include "QuizApp/question/question_list_as_table.html" %}
    {% endblock %}

    <fieldset>
        <div class="py-2 flex items-center space-x-4">

            <div>
                <input id="randomCheck" name="random" type="checkbox" role="switch">
                <label for="randomCheck">Random</label>
            </div>
            <div>
                <!-- <label for="randomSeed">Seed</label> -->
                <input class="text-black dark:text-black bg-white dark:bg-slate-300" id="randomSeed" name="seed" type="text" placeholder="Random seed" disabled required>
            </div>
        </div>
        <label for="formatSelector">
            Select export format
            <select class="text-black dark:text-black bg-white dark:bg-slate-300" name="format" id="formatSelector">
                <option value="raw-json">Raw JSON (non random)</option>
                <option value="latex">LaTeX</option>
                <option value="latex-exam">LaTeX (Exam class)</option>
                <option value="html">HTML</option>
                <option value="text">Text</option>
                <option value="markdown">Markdown</option>
                <option value="moodle">Moodle</option>
            </select>

        </label>

        <button class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 a:ring-cyan-200 font-medium rounded-lg text-sm mx-1 p-3 text-center" id="exportButton" formaction={% url 'question_export' %} class="bi bi-download" role="button"> Export Raw JSON</button>
        <button class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 a:ring-cyan-200 font-medium rounded-lg text-sm mx-1 p-3 text-center" formaction={% url 'collection_from_questions' %} class="bi bi-save"> Save Collection</button>
    </fieldset>
</form>
{% endblock %}