{% extends "base.html" %}
{% block content %}
<h1>Confirm Upload</h1>


Select questions to upload
<form method="post">
    {% csrf_token %}
    <input type="hidden", name="name", value="{{ name  }}">
    <input type="hidden", name="subject", value="{{ subject }}">
    <input type="checkbox" checked id="select-all">
    {% for q in data %}
    <div>
        <input type="hidden" name="confirmed-data" value="{{ rawData }}">
        <input type="checkbox" checked name="q_{{ q.id }}">
        {{ q.id }} - {{ q.type }}
    </div>
    {% endfor %}
    <input type="submit" value="Confirm">
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const selectAllCheckbox = document.querySelector('#select-all');
        const checkboxes = document.querySelectorAll('input[type="checkbox"][name^="q_"]');
    
        selectAllCheckbox.addEventListener("change", function () {
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = selectAllCheckbox.checked;
            });
        });
    });
    </script>
{% endblock %}