{% extends "base.html" %}
{% block content %}
<article>
<header>
    <hgroup>    
        <h1>Create choice question</h1>
        <h2>Provide name and description</h2>
        
    </hgroup>
</header>
<details>
    <summary>Choose between: <i>Single, Multiple or Invertible type.</i></summary>
    <p>
        <ul>
            <li><b>Single</b>: One text and one single correct answer.</li>
            <li><b>Multiple</b>: One text and one or more correct answers.</li>
            <li><b>Invertible</b>: Two text with multiple answers, the answers are inverted if the second text is displayed</li>
        </ul>
    </p>
  </details>
<form id="jsonForm" method="POST" >
    {% csrf_token %} <!-- Include this line if you are using Django's CSRF protection -->

    <label>
        Question type:
        <select id="q_type" name="q_type" onchange="typeSelect()">
            <option>Invertible</option>
            <option>Single</option>
            <option>Multiple</option>
        </select>
    </label>

    <!-- Separate text inputs for "Normal" and "Inverted" -->
    <label for="textNormal">Text (write your question):</label>
    <textarea id="textNormal" name="textNormal" rows="1"></textarea>

    <label for="textInverted">Inverted Text (correct solution is inverted):</label>
    <textarea id="textInverted" name="textInverted" rows="1"></textarea>

    <label for="options">Options (select corrects for normal):</label>
    <div id="optionsList">
        
    </div>
    <div class="grid">
        <a class="bi-plus-circle-fill success" onclick="addOption()"></a>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</article>
<script>
    //var typeSelected = "Invertible"
    function typeSelect(e) {
        var typeSelected = document.getElementById("q_type").value;
        document.getElementById("textInverted").disabled = (typeSelected !== "Invertible");
        if (typeSelected === "Single") {
            const checkboxes = document.querySelector("#optionsList").querySelectorAll("input[type='checkbox']")
            var count = 0
            checkboxes.forEach(c => count = count + (c.checked ? 1 : 0));
            console.log(`Selected ${count} options`);
            if (count > 1) {
                alert("With Single question select exactly 1 solution");
                
            }
        }
    }
    function renameOptions() {
        const options = document.querySelector("#optionsList");
        options.querySelectorAll("input[type='text']").forEach((t,i) => t.name = `t_${i}`);
        options.querySelectorAll("input[type='checkbox']").forEach((t,i) => t.name = `c_${i}`);
    }
    // Function to add an option
    function addOption() {
        var optionsList = document.getElementById("optionsList");

        // Create a new list item
        var optionItem = document.createElement("div");
        optionItem.classList.add("grid")

        // Create an input field for the option text
        var optionInput = document.createElement("input");
        //optionInput.name = "option[]" ;//+ optionsList.children.length;
        optionInput.type = "text";
        optionInput.placeholder = "Option text";
        optionItem.appendChild(optionInput);

        // Create an input field for the "correct" checkbox
        var correctInput = document.createElement("input");
        correctInput.type = "checkbox";
        //correctInput.name = "check[]";// + optionsList.children.length;
        optionItem.appendChild(correctInput);

        // Create a remove button
        var removeButton = document.createElement("a");
        removeButton.textContent = "";
        removeButton.classList.add("bi-x-circle-fill","danger");
        removeButton.onclick = function() {
            optionsList.removeChild(optionItem); // Remove the option when the button is clicked
            renameOptions();
        };
        optionItem.appendChild(removeButton);

        optionsList.appendChild(optionItem); // Add the new option to the list
        renameOptions();
    }
</script>
{% endblock %}
