{% extends "base.html" %}
{% block content %}
<article>

    <h1> {{collection.name}}</h1>
    <h3>{{collection.subject.name}}</h3>

    <p>{{collection.description}}</p>
    <p>
        <ul>
            {% for q in collection.questions.all %}
                <li>{{q|safe}}</li>
            {% endfor %}
        </ul>
    </p>
    <a href="" class="bi bi-question" role="button"> Test</a>
    <a href="" class="bi bi-download" role="button"> JSON</a>
    <a href="" class="bi bi-plus" role="button"> Details</a>
</article>
{% endblock %}