{% extends "base.html" %}
{% block content %}
<div id="content">
    <h1 class="text-3xl">Test summary</h1>
    <form action="{% url 'wizard_download' %}" method="post">{% csrf_token %}
        <div class="my-4">
            <h2 class="text-xl font-medium">Selected Files</h2>
            <ul class="list-none px-4">
                {% for file in selected_files %}
                <li class="my-2">
                    <div>
                        <h3>{{ file.name }}</h3>
                        <input type="hidden" name="file_ids" value="{{ file.id }}">
                    </div>
                </li>
                {% endfor %}
            </ul>
            <h2 class="text-xl font-medium">Parameters</h2>
            <ul class="list-none px-4">
                <li>
                    Question count (<code>--number</code>): {{ n }}
                    <input type="hidden" name="n" value="{{ n }}">
                </li>
                <li>
                    Track count (<code>--tracks</code>): {{ tracks }}
                    <input type="hidden" name="tracks" value="{{ tracks }}">
                </li>
                <li>
                    Renderer (<code>--seed</code>): {{ seed|default:"<i>none selected</i>" }}
                    <input type="hidden" name="seed" value="{{ seed }}">
                </li>
                <li>
                    Renderer (<code>--renderer</code>): {{ render }}
                    <input type="hidden" name="render" value="{{ render }}">
                </li>
                <li>
                    Render metadata (<code>--render-meta</code>): {{ render_meta }}
                    <input type="hidden" name="render_meta" value="{{ render_meta|default:'' }}">
                </li>
                <li>
                    Include hidden (<code>--include-hidden</code>): {{ include_hidden }}
                    <input type="hidden" name="include_hidden" value="{{ include_hidden|default:'' }}">
                </li>
                <li>
                    Text prefix name (<code>--output</code>): {{ text }}
                    <input type="hidden" name="text" value="{{ text }}">
                </li>
                <li>
                    Solution prefix name (<code>--solution</code>): {{ solution }}
                    <input type="hidden" name="solution" value="{{ solution }}">
                </li>
                <li>
                    Template prefix name (<code>--template</code>): {{ template }}
                    <input type="hidden" name="template" value="{{ template }}">
                </li>
            </ul>
        </div>
        <button
            class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 a:ring-cyan-200 font-medium rounded-lg text-sm mx-1 p-3 text-center"
            role="button" type="submit">Confirm</button>
    </form>
</div>
{% endblock %}