[data-theme="light"],
:root:not([data-theme="dark"]) {
    --danger: #a30704;
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --danger: #F9514E;
    }
  }

.danger {
    color: var(--danger);
}

ul.errorlist {
    color: var(--danger);
    margin-bottom: 0;
    padding: 0;
    li {
        list-style-type: none;
        padding: 0;
    }
}

